# ST Microelectronics STM32F100XX MCU

# Copyright (c) 2020, Jonas Eriksson, Up to Code AB
# SPDX-License-Identifier: Apache-2.0

config SOC
	default "stm32f100xb" if SOC_STM32F100XB
	default "stm32f100xe" if SOC_STM32F100XE

config NUM_IRQS
	default 61 if SOC_STM32F100XB
	default 61 if SOC_STM32F100XE